body {
  font-family: 'robotoregular', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
}

/*
input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  border-bottom: #EEE 1px solid;
  padding-bottom: 1em;
  width: 100%;
}
*/

h1 {
  font-size: 2em;
  font-weight: 700;
}

/*
h2 {
  font-size: 1.4em;
  font-style: bold;
}
*/

#container {
  width: 800px;
  height: 478px;
  background: #FFF;
  border-radius: 4px;
  overflow:hidden;
}

#device_list {
  width: calc(100% - 4em);
  height: calc(100% - 4em);
  padding: 2em;
  text-align: center;
  position: relative;

  h1 {
    margin-bottom: 1em;
  }

  ul {
    li {
      margin-bottom: 0.6em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #refresh_button {
    background-color: #808080;
    color: #FFF;
    width: 200px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-decoration: none;
    position: absolute;
    bottom: 2em;
    left: calc((100% / 2) - 100px);
  }
}

.notification {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(800px - 4em);
  height: calc(478px - 4em);
  background: #FFF;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;


  div {
    overflow: auto;
  }

  .icon {
    width: 200px;
    float: left;
    margin-right: 1em;
  }

  .details {
    width: 500px;
    float: left;

    h2 {
      font-size: 1.2em;
      line-height: 1.2em;
      font-weight: 700;
      margin-bottom: 2em;
    }

    p {
      line-height: 1.2em;
      margin-bottom: 2em;

      &:last-of-type {
        margin-bottom: 0;
      }

      .remove_device,
      .ignore_device {
        background-color: #808080;
        color: #FFF;
        width: 200px;
        height: 50px;
        line-height: 50px;
        display: block;
        text-decoration: none;
        float: left;
        margin-right: 0.5em;
        text-align: center;
      }
    }
  }
}
