body {
  font-family: 'robotoregular', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
}

/*
input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  border-bottom: #EEE 1px solid;
  padding-bottom: 1em;
  width: 100%;
}
*/

h1 {
  font-size: 2em;
  font-weight: 700;
}

/*
h2 {
  font-size: 1.4em;
  font-style: bold;
}
*/

#container {
  width: 800px;
  height: 478px;
  background: #FFF;
  border-radius: 4px;
  overflow:hidden;
}

#device_list {
  width: calc(100% - 4em);
  height: calc(100% - 4em);
  padding: 2em;
  text-align: center;
  position: relative;

  h1 {
    margin-bottom: 1em;
  }

  ul {
    li {
      margin-bottom: 0.6em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #last_updated {
    color: #999;
    position: absolute;
    bottom: 2em;
    width: calc(100% - 4em);
  }
}

.notification {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(800px - 4em);
  height: calc(478px - 4em);
  background: #FFF;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;


  div {
    overflow: auto;
  }

  .icon {
    width: calc(33.333% - 1em);
    float: left;
    margin-right: 1em;
    text-align: right;

    img {
      height: 9em;
    }
  }

  .details {
    width: 66.666%;
    float: left;

    h2 {
      font-size: 1.2em;
      line-height: 1.2em;
      font-weight: 700;
      margin-bottom: 4em;
    }

    p {
      line-height: 1.2em;
      margin-bottom: 2em;

      &:last-of-type {
        margin-bottom: 0;
      }

      .remove_device,
      .ignore_device {
        background-color: #808080;
        color: #FFF;
        width: 200px;
        height: 50px;
        line-height: 50px;
        display: block;
        text-decoration: none;
        float: left;
        margin-right: 0.5em;
        text-align: center;
        border-radius:6px
      }

      .ignore_device {
        margin-right:2em;
      }
    }
  }

  .choose_icon_view {
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    .icons {
      overflow: auto;

      a {
        background: blue;
        display: block;
        margin-right: 5px;
        float: left;
        width: 120px;
        height: 120px;
        border: rgba(0, 0, 0, 0) 5px solid;
        background-position: center center;
        background-size: 90% 90%;
        background-repeat: no-repeat;
        text-indent: -9999px;

        &.selected {
          border: rgba(0, 0, 0, 255) 5px solid;
        }

        &.laptop {
          background-image: url('/public/images/symbol-laptop.svg');
        }

        &.desktop {
          background-image: url('/public/images/symbol-desktop.svg');
        }

        &.tablet {
          background-image: url('/public/images/symbol-tablet.svg');
        }

        &.phone {
          background-image: url('/public/images/symbol-phone.svg');
        }

        &.tv {
          background-image: url('/public/images/symbol-tv.svg');
        }
      }
    }
  }
}
