doctype html
html(lang="en")
  head
    title IF–CHOICE Connected Devices
    meta(name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0")
    script(type="text/javascript" src="/public/javascripts/jquery.js")
    script(type="text/javascript" src="/public/javascripts/socket.io.js")
    script(type="text/javascript" src="/public/javascripts/app.js")
    link(rel="stylesheet" type="text/css" href="/public/stylesheets/app.css")
  body
    div(id="container")
      div(id="device_list")
        h1 Devices connected to your router
        ul
        p(id="last_updated") Last updated #[span(id="last_updated_num") 0 seconds] ago
    div(id="notifications")
    div(id="notification_template" class="notification" style="display:none;" data-type="unknown")
      div(class="main")
        div(class="icon")
          img(src="/public/images/notification_icon.png")
        div(class="details")
          h2 #[span(class="device_name") –] has just connected to your router
          p If you don't recognise this device, you can remove it from your network.
          p
            a(href="#" class="ignore_device") Ignore
            a(href="#" class="remove_device") Block
          p
            a(href="#" class="choose_icon") Choose icon
      div(class="choose_icon_view")
        p Choose an icon
        
        div(class="icons")
          a(href="#" class="laptop") Laptop
          
          a(href="#" class="desktop") Desktop

          a(href="#" class="tablet") Tablet
          
          a(href="#" class="phone") Phone

          a(href="#" class="tv") TV
        
        a(href="#" class="close_icon_view") Confirm
