doctype html
html(lang="en")
  head
    title IF–CHOICE Connected Devices
    meta(name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0")
    script(type="text/javascript" src="/public/javascripts/jquery.js")
    script(type="text/javascript" src="/public/javascripts/socket.io.js")
    script(type="text/javascript" src="/public/javascripts/app.js")
    link(rel="stylesheet" type="text/css" href="/public/stylesheets/app.css")
  body
    div(id="container")
      div(id="connected_devices" class="view")
        div(id="connected_devices_list" class="list")
        //p(id="last_updated") Last updated #[span(id="last_updated_num") 0 seconds] ago
      div(id="blocked_devices" class="view")
        div(id="blocked_devices_list" class="list")
      div(id="router_information" class="view")
        p router information
      div(id="nav")
        a(id="blocked_devices_link" href="#") Blocked Devices
        a(id="connected_devices_link" href="#" class="active") Connected Devices
        a(id="router_info_link" href="#") Router Info
      div(id="notifications")
    div(id="notification_template" class="notification" style="display:none;" data-type="unknown")
      div(class="main")
        div(class="icon")
          img(src="/public/images/notification_icon.png")
        div(class="details")
          h2 #[span(class="device_name") –] has just connected to your router
          p If you don't recognise this device, you can remove it from your network.
          p
            a(href="#" class="ignore_device") Ignore
            a(href="#" class="remove_device") Block
          p
            a(href="#" class="choose_icon") Choose icon
          p(class="snooze_choices")
            span Snooze
            a(href="#" data-snooze-period="900") 15 minutes
            a(href="#" data-snooze-period="3600") 1 hour
            a(href="#" data-snooze-period="14400") 4 hours
            a(href="#" data-snooze-period="28800") 8 hours
            a(href="#" data-snooze-period="86400") 24 hours
      div(class="choose_icon_view")
        p Choose an icon
        
        div(class="icons")
          a(href="#" class="laptop") Laptop
          a(href="#" class="desktop") Desktop
          a(href="#" class="tablet") Tablet
          a(href="#" class="phone") Phone
          a(href="#" class="tv") TV
        
        a(href="#" class="close_icon_view") Confirm
